In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("../ml/DATA/mpg.csv")

In [6]:
year_cl = df.groupby(["model_year", "cylinders"]).mean()

/tmp/ipykernel_96222/3759824510.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  year_cl = df.groupby(["model_year", "cylinders"]).mean()

In [7]:
year_cl.index

MultiIndex([(70, 4),
            (70, 6),
            (70, 8),
            (71, 4),
            (71, 6),
            (71, 8),
            (72, 3),
            (72, 4),
            (72, 8),
            (73, 3),
            (73, 4),
            (73, 6),
            (73, 8),
            (74, 4),
            (74, 6),
            (74, 8),
            (75, 4),
            (75, 6),
            (75, 8),
            (76, 4),
            (76, 6),
            (76, 8),
            (77, 3),
            (77, 4),
            (77, 6),
            (77, 8),
            (78, 4),
            (78, 5),
            (78, 6),
            (78, 8),
            (79, 4),
            (79, 5),
            (79, 6),
            (79, 8),
            (80, 3),
            (80, 4),
            (80, 5),
            (80, 6),
            (81, 4),
            (81, 6),
            (81, 8),
            (82, 4),
            (82, 6)],
           names=['model_year', 'cylinders'])

In [12]:
year_cl.index.levels

FrozenList([[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], [3, 4, 5, 6, 8]])

In [16]:
year_cl.loc[[70,80]]

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
80         3          23.700000     70.000000  2420.000000     12.500000
           4          34.612000    111.000000  2360.080000     17.144000
           5          36.400000    121.000000  2950.000000     19.900000
           6          25.900000    196.500000  3145.500000     15.050000

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
80         3          3.000000
           4          2.200000
           5          2.000000
           6          2.000000

In [17]:
year_cl.xs(key=4, level="cylinders")

                  mpg  displacement       weight  acceleration    origin
model_year
70          25.285714    107.000000  2292.571429     16.000000  2.285714
71          27.461538    101.846154  2056.384615     16.961538  1.923077
72          23.428571    111.535714  2382.642857     17.214286  1.928571
73          22.727273    109.272727  2338.090909     17.136364  2.000000
74          27.800000     96.533333  2151.466667     16.400000  2.200000
75          25.250000    114.833333  2489.250000     15.833333  2.166667
76          26.766667    106.333333  2306.600000     16.866667  1.866667
77          29.107143    106.500000  2205.071429     16.064286  1.857143
78          29.576471    112.117647  2296.764706     16.282353  2.117647
79          31.525000    113.583333  2357.583333     15.991667  1.583333
80          34.612000    111.000000  2360.080000     17.144000  2.200000
81          32.814286    108.857143  2275.476190     16.466667  2.095238
82          32.071429    118.571429  2402.321429     16.703571  1.714286

In [19]:
cl_year = year_cl.swaplevel()
cl_year.head()

,,mpg,displacement,weight,acceleration,origin
cylinders,model_year,,,,,
4,70,25.285714,107.000000,2292.571429,16.000000,2.285714
6,70,20.500000,199.000000,2710.500000,15.500000,1.000000
8,70,14.111111,367.555556,3940.055556,11.194444,1.000000
4,71,27.461538,101.846154,2056.384615,16.961538,1.923077
6,71,18.000000,243.375000,3171.875000,14.750000,1.000000

In [20]:
year_cl.sort_index(level="cylinders", ascending=False)

,,mpg,displacement,weight,acceleration,origin
model_year,cylinders,,,,,
81,8,26.600000,350.000000,3725.000000,19.000000,1.000000
79,8,18.630000,321.400000,3862.900000,15.400000,1.000000
78,8,19.050000,300.833333,3563.333333,13.266667,1.000000
77,8,16.000000,335.750000,4177.500000,13.662500,1.000000
76,8,14.666667,324.000000,4064.666667,13.222222,1.000000
75,8,15.666667,330.500000,4108.833333,13.166667,1.000000
74,8,14.200000,315.200000,4438.400000,14.700000,1.000000
73,8,13.200000,365.250000,4279.050000,12.250000,1.000000
72,8,13.615385,344.846154,4228.384615,13.000000,1.000000
71,8,13.428571,371.714286,4537.714286,12.214286,1.000000
70,8,14.111111,367.555556,3940.055556,11.194444,1.000000
82,6,28.333333,225.000000,2931.666667,16.033333,1.000000
81,6,23.428571,184.000000,3093.571429,15.442857,1.714286
80,6,25.900000,196.500000,3145.500000,15.050000,2.000000
79,6,22.950000,205.666667,3025.833333,15.433333,1.000000
78,6,19.066667,213.250000,3314.166667,16.391667,1.166667
77,6,19.500000,220.400000,3383.000000,16.900000,1.400000
76,6,20.000000,221.400000,3349.600000,17.000000,1.300000
75,6,17.583333,233.750000,3398.333333,17.708333,1.000000
74,6,17.857143,230.428571,3320.000000,16.857143,1.000000
73,6,19.000000,212.250000,2917.125000,15.687500,1.250000
71,6,18.000000,243.375000,3171.875000,14.750000,1.000000
70,6,20.500000,199.000000,2710.500000,15.500000,1.000000
80,5,36.400000,121.000000,2950.000000,19.900000,2.000000
79,5,25.400000,183.000000,3530.000000,20.100000,2.000000
78,5,20.300000,131.000000,2830.000000,15.900000,2.000000
82,4,32.071429,118.571429,2402.321429,16.703571,1.714286
81,4,32.814286,108.857143,2275.476190,16.466667,2.095238
80,4,34.612000,111.000000,2360.080000,17.144000,2.200000
79,4,31.525000,113.583333,2357.583333,15.991667,1.583333
78,4,29.576471,112.117647,2296.764706,16.282353,2.117647
77,4,29.107143,106.500000,2205.071429,16.064286,1.857143
76,4,26.766667,106.333333,2306.600000,16.866667,1.866667
75,4,25.250000,114.833333,2489.250000,15.833333,2.166667
74,4,27.800000,96.533333,2151.466667,16.400000,2.200000
73,4,22.727273,109.272727,2338.090909,17.136364,2.000000
72,4,23.428571,111.535714,2382.642857,17.214286,1.928571
71,4,27.461538,101.846154,2056.384615,16.961538,1.923077
70,4,25.285714,107.000000,2292.571429,16.000000,2.285714
80,3,23.700000,70.000000,2420.000000,12.500000,3.000000
77,3,21.500000,80.000000,2720.000000,13.500000,3.000000
73,3,18.000000,70.000000,2124.000000,13.500000,3.000000
72,3,19.000000,70.000000,2330.000000,13.500000,3.000000

In [21]:
df.agg(["std","mean"])

/tmp/ipykernel_96222/3072993484.py:1: FutureWarning: ['horsepower', 'name'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.agg(["std","mean"])

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864

In [23]:
d = {"mpg": ["min", "mean", "max"], "weight": ["mean","std"]}
df.agg(d)

            mpg       weight
min    9.000000          NaN
mean  23.514573  2970.424623
max   46.600000          NaN
std         NaN   846.841774